<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <label for="q1"></label><br>
        <input type="text" class="title" name="quiz-name" placeholder="My Quiz">
        <br>
        <input type="text" class="q" name="q1" placeholder="Question 1">
        <div>
            <input type="text" class="a" name="a1" placeholder="A">
            <input type="text" class="a" name="a2" placeholder="B">
            <input type="text" class="a" name="a3" placeholder="C">
            <input type="text" class="a" name="a4" placeholder="D">
        </div>
        <br>
        <input type="text" class="q" name="q2" placeholder="Question 2">
        <div>
            <input type="text" class="a" name="a1" placeholder="A">
            <input type="text" class="a" name="a2" placeholder="B">
            <input type="text" class="a" name="a3" placeholder="C">
            <input type="text" class="a" name="a4" placeholder="D">
        </div>
        <br>
        <input type="text" class="q" name="q3" placeholder="Question 3">
        <div>
            <input type="text" class="a" name="a1" placeholder="A">
            <input type="text" class="a" name="a2" placeholder="B">
            <input type="text" class="a" name="a3" placeholder="C">
            <input type="text" class="a" name="a4" placeholder="D">
        </div>
        <input type="checkbox" id="private" name="private" value="private">
        <label for="private">Make your quiz private</label>
        <input type="submit" value="Create Quiz">
    </form>
</body>
</html>