<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/createQuizListener.js"></script>

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/createQuiz.css" type="text/css" />
</head>
<body>
  <header>
    <%- include('./nav') %>
  </header>
  <main class="create-quiz">
    <form action="/quiz/create" method="POST">
        <label for="q1"></label><br>
        <input type="text" class="title" name="title" placeholder="Title of my Quiz">
        <br>
        <br>
        <input type="text" class="q" name="q1" placeholder="Question 1">
        <div class='input-form'>
            <input type="text" class="a" name="a1" placeholder="Correct Answer">
            <input type="text" class="a" name="a2" placeholder="B">
            <input type="text" class="a" name="a3" placeholder="C">
            <input type="text" class="a" name="a4" placeholder="D">
        </div>
        <br>
        <!-- <input type="text" class="q" name="q2" placeholder="Question 2">
        <div>
          <input type="text" class="a" name="a1" placeholder="Correct Answer">
            <input type="text" class="a" name="a2" placeholder="B">
            <input type="text" class="a" name="a3" placeholder="C">
            <input type="text" class="a" name="a4" placeholder="D">
        </div>
        <br>
        <input type="text" class="q" name="q3" placeholder="Question 3">
        <div>
          <input type="text" class="a" name="a1" placeholder="Correct Answer">
            <input type="text" class="a" name="a2" placeholder="B">
            <input type="text" class="a" name="a3" placeholder="C">
            <input type="text" class="a" name="a4" placeholder="D">
        </div>
        <br>
        <input type="text" class="q" name="q3" placeholder="Question 4">
        <div>
          <input type="text" class="a" name="a1" placeholder="Correct Answer">
            <input type="text" class="a" name="a2" placeholder="B">
            <input type="text" class="a" name="a3" placeholder="C">
            <input type="text" class="a" name="a4" placeholder="D">
        </div>
        <br>
        <input type="text" class="q" name="q3" placeholder="Question 5">
        <div>
          <input type="text" class="a" name="a1" placeholder="Correct Answer">
            <input type="text" class="a" name="a2" placeholder="B">
            <input type="text" class="a" name="a3" placeholder="C">
            <input type="text" class="a" name="a4" placeholder="D">
        </div>
        <br>
        <input type="text" class="q" name="q3" placeholder="Question 6">
        <div>
          <input type="text" class="a" name="a1" placeholder="Correct Answer">
            <input type="text" class="a" name="a2" placeholder="B">
            <input type="text" class="a" name="a3" placeholder="C">
            <input type="text" class="a" name="a4" placeholder="D">
        </div>
        <br>
        <input type="text" class="q" name="q3" placeholder="Question 7">
        <div>
          <input type="text" class="a" name="a1" placeholder="Correct Answer">
            <input type="text" class="a" name="a2" placeholder="B">
            <input type="text" class="a" name="a3" placeholder="C">
            <input type="text" class="a" name="a4" placeholder="D">
        </div>
        <br>
        <input type="text" class="q" name="q3" placeholder="Question 8">
        <div>
          <input type="text" class="a" name="a1" placeholder="Correct Answer">
            <input type="text" class="a" name="a2" placeholder="B">
            <input type="text" class="a" name="a3" placeholder="C">
            <input type="text" class="a" name="a4" placeholder="D">
        </div>
        <br>
        <input type="text" class="q" name="q3" placeholder="Question 9">
        <div>
          <input type="text" class="a" name="a1" placeholder="Correct Answer">
            <input type="text" class="a" name="a2" placeholder="B">
            <input type="text" class="a" name="a3" placeholder="C">
            <input type="text" class="a" name="a4" placeholder="D">
        </div>
        <br>
        <input type="text" class="q" name="q3" placeholder="Question 10">
        <div>
          <input type="text" class="a" name="a1" placeholder="Correct Answer">
            <input type="text" class="a" name="a2" placeholder="B">
            <input type="text" class="a" name="a3" placeholder="C">
            <input type="text" class="a" name="a4" placeholder="D">
        </div>
        <br> -->
        <input type="checkbox" id="private" name="private" value="true">
        <label for="private">Make your quiz private</label>
        <br>
        <input type="submit" id="create-quiz-button" value="Create Quiz">
    </form>
  </main>
</body>
</html>
