<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="quiz_box">
      <header>
        <div class="title"> QuiZapp</div>
        <div class="timer">
          <div class="time_text">Time Left</div>
          <div class="timer_sec">15</div>
        </div>
      </header>
      <section>
      </section>
    </div>
</body>
</html>
