.create-quiz {
  display: flex;
  justify-content: center;
}

.create-quiz-title {
  color: #FDC500;
}

#create-quiz-button {
  color: #00296B;
}

.title {
  color: #00296B;
  border-radius: 6px;
}

.category {
  color: #00296B;
  border-radius: 6px;
}

.q {
  color: #00296B;
  border-radius: 6px;
  width: 75%;
}

.a {
  margin-top: 5px;
  color: #00296B;
  border-radius: 6px;
}
