body {
    font-family: 'Rubik', sans-serif;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #00296B;
    //background-image: linear-gradient( #5DA2D5, #90CCF4);
}


.quiz-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #FDC500;

    .top-elements {
        margin: 0;
        background-color: #FFD500;
        width: 100%;
    }

    #questions-box {
        font-family: 'Rubik', sans-serif;
        color: #FDC500;
        #answer-buttons{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #00296B;
            font-family: 'Rubik', sans-serif;
            button {
                display: flex;
                background-color: #00509D;
                color: #ECECEC;
                font-family: 'Rubik', sans-serif;
                text-align: center;
                align-content: center;
                justify-content: center;
                align-items: center;
                font-size: 2em;
                width: 350px;
                height: 75px;
                border-radius: 12px;
                margin: 2%;
            }
        }


    }
}

#title {
  color: black;
}

.clicked{
    background-color: #FDC500!important;
    border: 10;
    border-color: floralwhite;
}
