body {
    font-family: 'Rubik', sans-serif;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #5DA2D5;
    //background-image: linear-gradient( #5DA2D5, #90CCF4);
}

.quiz-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .top-elements {
        margin: 0;
        background-color: #ECECEC;
        width: 100%;
    }

    #questions-box {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        #answer-buttons{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #5DA2D5;
            button {
                display: flex;
                background-color: #303C6C;
                color: #ECECEC;
                text-align: center;
                align-content: center;
                justify-content: center;
                align-items: center;
                font-size: 2em;
                width: 350px;
                height: 75px;
                border-radius: 12px;
            }
        }


    }
}

.clicked{
    background-color: #FDC500!important;
    border: 10;
    border-color: floralwhite;
}
