header {
    display: flex;
    flex-direction: column;
}
body {
    background-color: #00509D;
    height: 100%;
    .main-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 100%;
        text-align: center;
        background-color: #00509D;
        #quizzes-done {
            width: 20%;
            height: 100%;
            p {
                background-color: #00296B;
                color: #ECECEC;
            }
        }
        #results-box {
            width: 50%;
            // border: 3px solid black;
            h3 {
                margin: 0;
                background-color: #FDC500;
                color: black !important;
            }
            #results-container {
                background-color:#5DA2D5;
                height: 100%;
            }
        }
    }
}

.clicked{
    background-color: #FDC500 !important;
    border: 10;
    color: black !important;
}
